@font-face {
  font-family: "iconfont"; /* Project id 3498347 */
  src: url('iconfont.woff2?t=1656916478579') format('woff2'),
       url('iconfont.woff?t=1656916478579') format('woff'),
       url('iconfont.ttf?t=1656916478579') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up:before {
  content: "\e6a9";
}

.icon-todown:before {
  content: "\e64f";
}

